<ion-header>
  <ion-toolbar>
    <ion-title>meusdados</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)='irParaInicio()'>
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-card *ngFor='let it of dados' [hidden]='it.email !== emailLogado'>
          <ion-card-header>
            <ion-card-title>{{it.nomeprof}}</ion-card-title>
            <ion-card-subtitle>{{it.email}}</ion-card-subtitle>
            <ion-card-subtitle>Telefone: {{it.telprof}}</ion-card-subtitle>
            <ion-card-subtitle>Agência: {{it.agencia}}</ion-card-subtitle>
            <ion-card-subtitle>CC/CP: {{it.conta}}</ion-card-subtitle>
            <ion-card-subtitle>Banco: {{it.banco}}</ion-card-subtitle>

          </ion-card-header>
          <ion-card-content>
            <ion-button shape="round"(click)='AlterarDados(it)'>alterar</ion-button>
            
          </ion-card-content>
        </ion-card>
  </ion-list>


</ion-content>