<ion-header>
  <ion-toolbar>
    <ion-title>ajuda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)='irParaInicio()'>
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
    <div id="container">
        <ion-button >FAQ</ion-button><br/>
        <ion-button >Contato por email</ion-button>
        <ion-button >Contato por telefone</ion-button>
    </div>
</ion-content>