<ion-header>
  <ion-toolbar>
    <ion-title>Conclua seu Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="container">
    <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
    <br/>
    <ion-input placeholder="Telefone" [(ngModel)]="telefone"></ion-input>
    <br/>
    <ion-input placeholder="Conta Bancária" [(ngModel)]="conta"></ion-input>
    <br/>
    <ion-input placeholder="Agência" [(ngModel)]="agencia"></ion-input>
    <br/>

    <ion-button (click)='registrar2()'>Finalizar</ion-button>
    <ion-button (click)='voltar()'>Voltar</ion-button>

  </div>
</ion-content>