<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!--<ion-buttons slot="end">
      <ion-button shape="round" (click)='irParaInicio()'>
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='6' *ngFor='let c of servicos'>
        <ion-card>
          <ion-card-header>
            {{c.tipoChamado}}
          </ion-card-header>
          <ion-card-header>
            {{c.tempoChamado}} {{c.urgenciaChamado}}
          </ion-card-header>
          <ion-card-content>
            {{c.desChamado}}
          </ion-card-content>
          <ion-button *ngIf="alterarstatus == false" expand="block" shape="round"(click)='alterarStatus(c)' color="success" size="small" fill="outline">Aceitar</ion-button>
          <ion-button *ngIf="alterarstatus == true" expand="block" color="primary" size="small">Aceito</ion-button>
          <ion-button *ngIf="alterarstatus == false" expand="block" color="danger" shape="round"(click)="excluir(c)" size="small" fill="outline">Recusar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>